@media (max-width: 991px)
	.header
		justify-content: space-around
	.promo
		min-height: 610px
		padding: 21px 0 80px 0
		&__wrapper
			margin-top: 70px
			align-items: center
	.advantage
		padding: 60px 0 70px 0
		&__icon
			img
				margin-top: 50px
	.consultation
		min-height: 610px
		padding: 70px 0 70px 0
		.title_left
			font-size: 32px
		&_descr
			font-size: 18px
		.feed-form
			padding-left: 30px
		.title_left
			padding-left: 30px
		&__descr
			padding-left: 30px
	
@media (max-width: 767px)
	.header
		width: 100%
	.promo
		min-height: 570px
		padding: 21px 0 65px 0
		&__wrapper
			margin-top: 55px
		&__header
			font-size: 35px
		&__subheader
			margin-top: 10px
			font-size: 21px
		&__icons
			margin-top: 40px
		.button_main
			margin-top: 48px
			width: 270px
			height: 45px
			font-size: 15px
		&__link
			font-size: 15px
			a
				font-size: 15px
	.advantage
		min-height: 430px
		.title
			font-size: 27px
		&__icon
			img
				margin-top: 35px
		&__descr
			margin-top: 20px
	.consultation
		min-height: 570px
		.title_left
			font-size: 28px
			text-align: center
		&__descr
			font-size: 18px
			text-align: center
		.feed-form
			margin: 0 auto
			margin-top: 30px

@media (max-width: 575px)
	.header
		&__logo
			img
				width: 150px
		&__official
			display: none
		&__phone
			font-size: 14px
		.button
			width: 122px
			height: 23px
			font-size: 10px
	.promo
		min-height: 450px
		padding: 21px 0 50px 0
		&__wrapper
			margin-top: 35px
		&__header
			font-size: 23px
		&__subheader
			margin-top: 0
			font-size: 13px
		&__icons
			width: 280px
			margin-top: 20px
		&__icon
			font-size: 11px
		.button_main
			margin-top: 36px
			width: 207px
			height: 37px
			font-size: 12px
		&__link
			font-size: 12px
			margin-top: 10px
			a
				font-size: 12px
	.advantage
		padding: 40px 0 50px 0
		.title
			font-size: 19px
		&__wrapper
			flex-direction: column
		&__icon
			img
				margin-top: 16px
		&__descr
			margin-top: 4px
			font-size: 16px
		&__text
			margin-top: 8px
			font-size: 14px
	.consultation
		min-height: 465px
		padding: 40px 0 40px 0
		.title_left
			padding-left: 0
			font-size: 18px
		&__descr
			padding-left: 0
			font-size: 13px        
		.feed-form
			padding-left: 0
			width: 270px
			input
				padding: 0 10px
				margin-bottom: 15px
				height: 40px
		.button_submit
			height: 45px